<nav class="navbar-static-top navbar-inverse navbar" style="margin-bottom:0;">
  <div class="navbar-inner">
    <div class="container">
      <a href="#/" class="navbar-brand">
        <img ng-src="{{subDomain.logo_file_name}}" id="header-logo-image"/>
      </a>
      <ul class="nav navbar-nav navbar-right" ng-if="user">
        <li ng-if="user.is_superuser" class="release-version-info pull-right">
          <p>
            [{{hostName | uppercase}}]
            [{{subDomain.name | uppercase}}]
            [{{appEnv | uppercase}}]
            [{{releaseVersion | uppercase}}]
            [{{nowTime | date:'h:mm a, MM.dd.yyyy'}}]
          </p>
        </li>
        <br>
        <li class="dropdown pull-right" ng-if="user">
          <a data-toggle="dropdown" class="dropdown-toggle" role="button" aria-expanded="false" style="color:#fff">
            <i class="fa fa-user"></i> {{user.name}}<b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/group_profile"><i class="fa fa-user"></i> View Profile</a></li>
            <li><a href="#/edit_profile"><i class="fa fa-edit"></i> Edit Profile</a></li>
            <li><a href="#/edit_profile"><i class="fa fa-sign-out"></i> Sign Out</a></li>
          </ul>
        </li>
        <li ng-if="!user">
          Already have an account?
          <a href="#/login"><b><i class="fa fa-sign-in"></i> Login</b></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar navbar-default">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav navbar-nav" ng-if="user">
        <li ng-if="groups.length > 0"><a href="#/group_profile"><i class="fa fa-home"></i> Home</a></li>
        <!-- code here for SECURITY role and current_user.is_building_guard_for_what.each do -->
        <!-- code here about VMS being full and VMS logbook -->
        <li ng-if="user.is_superuser || user.is_engineer">
          <a href="#/maintenance"><i class="fa fa-wrench"></i> Maintenance</a>
        </li>
        <li ng-if="user.is_scheduler || user.is_dock_worker || user.is_dock_admin || user.is_superuser">
          <a href="#/deliveries"><i class="fa fa-truck"></i> Deliveries</a>
        </li>

        <!-- VENDORS -->
        <li ng-if="vendors.length == 1"><a href="#/vendor_overview/{{_.first(vendors).id}}"><i class="fa fa-file-text-o"></i> Service Overview</a></li>
        <li ng-if="vendors.length > 1" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-file-text-o"></i>
            Service Overview
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li ng-repeat="v in vendors">
              <a href="#/vendor_overview/{{v.id}}">{{v.name}}</a>
            </li>
          </ul>
        </li>

        <!-- GROUPS -->
        <li ng-if="groups.length == 1"><a href="#/group_profile"><i class="fa fa-users"></i> Group</a></li>
        <li ng-if="groups.length > 1" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-users"></i>
            Groups
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li ng-repeat="g in groups">
              <a href="#/group_profile">{{g.name}}</a>
            </li>
          </ul>
        </li>

        <!-- BUILDINGS -->
        <li ng-if="buildings.length == 1"><a href="#/building_profile/{{_.first(buildings).id}}"><i class="fa fa-building-o"></i> Building</a></li>
        <li ng-if="buildings.length > 1" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-building-o"></i>
            Buildings
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li ng-repeat="b in buildings">
              <a href="#/building_profile/{{b.id}}">{{b.name}}</a>
            </li>
          </ul>
        </li>
      </ul>

      <!-- MGMT OPTIONS -->
      <ul class="nav navbar-nav navbar-right" ng-if="user">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-users"></i>
            Manage
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" ng-if="user.is_superuser || currentGroup">
            <li><a href="#/group_events/{{currentGroup.id}}"> <i class="fa fa-calendar"></i> Calendar</a></li>
            <!-- should check if role can view all visitors -->
            <li><a href="#/group_visitors/{{currentGroup.id}}"> <i class="fa fa-male"></i> Visitors</a></li>
            <li><a href="#/group_contacts/{{currentGroup.id}}"> <i class="fa fa-phone-square"></i> Contacts</a></li>
            <!-- should check if role can view all work orders -->
            <li ng-if="currentGroup.orders.length > 0"><a href="#/group_orders/{{currentGroup.id}}"> <i class="fa fa-list"></i> Placed Orders</a></li>
            <li ng-if="user.is_superuser || user.is_group_admin"><a href="#/group_vendors/{{currentGroup.id}}"> <i class="fa fa-truck"></i> Vendors</a></li>
            <li ng-if="user.is_superuser || user.is_group_admin"><a href="#/edit_group/{{currentGroup.id}}"> <i class="fa fa-gears"></i> Admin</a></li>
          </ul>
        </li>
      </ul>

      <!-- ADMIN OPTIONS -->
      <ul class="nav navbar-nav navbar-right" ng-if="user.is_superuser">
        <li class="dropdown">
          <a class="dropdown-toggle super-user-link" data-toggle="dropdown">
            <i class="fa fa-cog"></i>
              Admin
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#/users" class="super-user-link"><i class="fa fa-user"></i> Users</a></li>
            <li><a href="#/groups" class="super-user-link"><i class="fa fa-users"></i> Groups</a></li>
            <li><a href="#/buildings" class="super-user-link"><i class="fa fa-building-o"></i> Buildings</a></li>
            <li><a href="#/vendors" class="super-user-link"><i class="fa fa-truck"></i> Vendors</a></li>
            <li><a href="#/service_requests" class="super-user-link"><i class="fa fa-list"></i> Orders</a></li>
            <li class="divider"></li>
            <li><a href="#/verifications" class="super-user-link"><i class="fa fa-check-square"></i> Verifications</a></li>
            <li><a href="#/subscriptions" class="super-user-link"><i class="fa fa-newspaper-o"></i> Subscriptions</a></li>
            <li><a href="#/subdomains" class="super-user-link"><i class="fa fa-globe"></i> Subdomains</a></li>
            <li><a href="#/audit" class="super-user-link"><i class="fa fa-line-chart"></i> Audit</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>