<main-header></main-header>

<div class="container">
  <div class="row">
    <h2><i class="fa fa-calendar orange"></i> New Event for {{currentGroup.name}}</h2>
    <button class="btn btn-default"><i class="fa fa-plus"></i> Add Event</button>
  </div>
  <hr>
</div>
